#container
  display:        flex
  min-height:     100vh
  flex-direction: column

main
  flex: 1 0 auto

nav .brand-logo
  padding-left: 10px

nav ul a
  font-weight: 300

footer.page-footer
  padding-top: 10px

.progress
  position:   absolute
  top:        50vh
  left:       50vw
  transform:  translate(-50%, -50%)
  width:      70%
